<div class="container-fluid usa-da-footer">
    <div class="container" id="footer">
        <div class="row">
            <div class="col-xs-12 col-md-5 col-md-push-7 footer-links">
            </div>
            <div class="col-xs-12 col-md-7 col-md-pull-5">
                <p>{{ site.time | date: '%Y' }} | DATA Act </p>
            </div>
        </div>
    </div>
</div>
</div> 
<!-- /container -->
<script src="{{site.baseurl}}/assets/js/jquery-2.2.0.min.js"></script>
<script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/assets/js/mobile-head.js"></script>
<script src="{{site.baseurl}}/assets/js/chart/Chart.js"></script>
<script src="{{site.baseurl}}/assets/js/fedSpend_base.js"></script>
<script src="{{site.baseurl}}/assets/js/highlight.pack.js"></script>
<script src="{{site.baseurl}}/assets/js/flyLabel.js"></script>
<script>
      if (Modernizr.input.placeholder) {
        $('body').flyLabels();
      }
</script>


<script>hljs.initHighlightingOnLoad();</script>
</body>

</html>
<!-- Generated {{ site.time }} -->