@import './common';
// .container {
//     // max-width: 1024px;
//     margin: 0 auto;
// }

.btn {
    border-radius: 0;
    &:visited {
        color: #fff;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dl,
blockquote,
p,
address,
table,
fieldset,
figure,
pre {
  margin-bottom: $base-line-height;
}




h1,
h2,
h3,
h4,
h5,
h6,
.display-one,
.display-two {
    font-family: $font-sans;
    margin-top: 0;
    line-height: 1;
    color: #555;
}

.display-one {
    font-weight: $font-bold;
    font-size: 5.9rem;
    line-height: 1.45;
}

.display-two {
    font-weight: $font-light;
    font-size: 4.4rem;
    line-height: 5.7rem;
}

h1 {
    font-weight: $font-light;
    font-size: 5.9rem;
    margin-bottom: $base-line-height * 1.625;
}

h2 {
    font-weight: $font-light;
    font-size: 4.7rem;
    margin-bottom: $base-line-height;
    line-height: 1.11;
}

h3 {
    font-weight: $font-light;
    font-size: 3.8rem;
    line-height: 1.36;
}

h4 {
    font-weight: $font-light;
    font-size: 3.0rem;
    line-height: 1;
}

h5 {
    font-weight: $font-bold;
    font-size: 2.4rem;
    line-height: 1.3;
}

h6 {
    font-weight: $font-bold;
    font-size: 1.9rem;
    line-height: 1.4;
    margin-bottom: 0;
}

p.lead {
    font-weight: $font-normal;
    font-size: 2.2rem;
    line-height: 3.3rem;
}

@mixin para {
    font-weight: $font-normal;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #525252;
}

p {
    @include para;
    max-width: 50rem;
}

p.italic {
    @include para;
    font-style: italic;
}

p strong{
    font-weight: 600;
}


p + h2, p + h3, p + h4, p + h5, p + h6,{
   margin-top: $base-line-height * 2;
}


ul + h2, ul + h3, ul + h4, ul + h5, ul + h6,{
   margin-top: $base-line-height * 2;
}

// h2 + .row {
//     margin-bottom: $base-line-height * 3;
// }

table + p {
    margin-top: 3.0rem;
}


ol,
ul {
    margin: 0 0 $base-line-height * 2;
    & li {
        font-size: 1.6rem;
        line-height: $base-line-height;
        margin-bottom: 0.75em;
        margin-top: 0.75em;
    }
}

ul.no-bullet{
    list-style-type: none;
    padding: 0;
    & li{
        margin: 0!important;
    }
}





.panel{
    margin-bottom: 40px; 
}

.panel, .panel-heading {
    border-radius: 0;
    & p:first-child {
        margin-top: 0;
    }
}

.panel-heading h3 {
    margin: 0;
    font-weight: $font-bold;
    font-size: 2.0rem;
    line-height: 2.8rem;
    color: #555
}

.navbar{
    margin-bottom: 0;
}

.modal-sm{
    width: 400px;
    @include media($x-small-screen) {
        width: 98%
    }

}

/***** TABLE STYLES *****/

table {
    &.table,
    &.table-bordered {
        width: 100%;
        & thead {
            font-size: 1.4rem;
            font-weight: $font-bold;
            & tr {
                & th {
                    padding: 15px;
                    border-bottom: none;
                }
            }
        }
        & tbody {
            & tr {
                & td {
                    padding: 15px;
                    font-size: 1.4rem;
                    color: $color-gray;
                }
            }
        }
    }
}

table {
    &.table-bordered {
        & thead {
            color: $color-white;
            background: $color-gray;
        }
    }
}

table {
    &.table {
        & thead {
            color: $color-base;
            background: $color-gray-lightest;
            & tr {
                & th {
                    border-bottom: none;
                    vertical-align: middle;
                }
            }
        }
        & tbody {
            & tr {
                &:last-child {
                    border-bottom: 1px solid #ddd;
                }
                & td {
                    vertical-align: middle;
                }
            }
        }
    }
}

.list-group-item {
    padding: 15px;
    &:first-child {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }
}

a.list-group-item {
    color: #0071bc;
}

.alert {
    color: #333 !important;
    font-size: 1.4rem;
    border-radius: 0;
    position: relative;
    margin: 20px 0 !important;
    & h3 {
        font-size: 2.4rem;
        margin: 0px 0 8px 48px;
        font-weight: $font-bold;
    }
    & h5{
        margin:10px 0 12px;
    }
    & p {
        margin: 5px 0 5px 48px;
    }
    & .usa-da-icon {
        font-size: 3.2rem;
        position: absolute;
        top: 15px;
        left: 15px;
    }
} 

.alert-success {
    background: #e7f4e4;
    & .usa-da-icon-check-circle {
        color: #5cb85c;
    }
}

.alert-info {
    background: #e1f3f8;
    & .usa-da-icon-info-circle {
        color: #5bc0de;
    }
}

.alert-warning {
    background: #fff1d2;
    & .usa-da-icon-exclamation-triangle {
        color: #f0ad4e;
    }
}

.alert-danger {
    background: #f9dede;
    & .usa-da-icon-exclamation-circle {
        color: #d9534f;
    }
}

.alert-block{
    border: 1px solid #ccc;
    padding: 15px 15px 0;
}


.highlight {
    background: #e9f27c;
    padding: 3px;
}


/***** BUTTONS *****/

@mixin btnBase($txtColor, $bgColor){
    color: $txtColor;
    background: $bgColor;
}

.btn {
    font-size: 1.4rem;
    font-weight: $font-bold;
    padding: 1rem 2rem;
    border: none;
    &.btn-lg {
        padding: 16px 24px 15px;
        font-size: 1.6rem;
        line-height: 1.3rem;
        border-radius: 0;
    }
    &.btn-primary {
        @include btnBase($color-white, $color-primary);
        &:active {
           @include btnBase($color-white, $color-primary-darker); 
        }
        &:hover {
            @include btnBase($color-white, $color-primary-darkest);
        }
    }
    &.btn-primary-alt {
        @include btnBase($color-base, $color-primary-alt);
        &:active {
            @include btnBase($color-white, $color-primary-alt-darkest);
        }
        &:hover {
            @include btnBase($color-base, $color-primary-alt-dark);
        }
    }
    &.btn-danger {
        @include btnBase($color-white, $color-secondary);
        &:active {
            @include btnBase($color-white, $color-secondary-darkest);
        }
        &:hover {
            @include btnBase($color-white, $color-secondary-dark);
        }
    }
    &.btn-default {
        @include btnBase($color-primary, transparent);
        box-shadow: inset 0 0 0 1px $color-primary;
        &:active {
            @include btnBase($color-primary-darkest, transparent);
        }
        &:hover {
            @include btnBase($color-primary-darkest, $color-primary-alt-lightest);
        }
    }

    &.btn-default-gray {
        @include btnBase($color-white, $color-gray);
        &:active {
            @include btnBase($color-primary-darkest, $color-base);
        }
        &:hover {
            @include btnBase(none, $color-gray-dark);
        }
    }

    &.btn-default-dark-bg {
        @include btnBase($color-white, transparent);
        box-shadow: inset 0 0 0 1px $color-white;
        &:active {
            @include btnBase($color-gray-lighter, transparent);
            box-shadow: inset 0 0 0 1px $color-gray-lighter;
        }
        &:hover {
            @include btnBase($color-white, $color-gray);
            box-shadow: inset 0 0 0 1px $color-gray;
        }
    }

}







/***** GLOBAL MARGIN AND PADDING *****/
.no-pad{
    padding-right: 0;
    padding-left: 0;
}
.pad-10{padding: 10px;}
.pad-15{padding: 15px;}


.mt-0   {margin-top: 0;}
.mt-5   {margin-top: 5px;}
.mt-10  {margin-top: 10px;}
.mt-15  {margin-top: 15px;}
.mt-20  {margin-top: 20px;}
.mt-25  {margin-top: 25px;}
.mt-30  {margin-top: 30px;}
.mt-35  {margin-top: 35px;}
.mt-40  {margin-top: 40px;}
.mt-45  {margin-top: 45px;}
.mt-50  {margin-top: 50px;}
.mt-55  {margin-top: 55px;}
.mt-60  {margin-top: 60px;}

.mr-0   {margin-right: 0;}
.mr-5   {margin-right: 5px;}
.mr-10  {margin-right: 10px;}
.mr-15  {margin-right: 15px;}
.mr-20  {margin-right: 20px;}
.mr-25  {margin-right: 25px;}
.mr-30  {margin-right: 30px;}
.mr-35  {margin-right: 35px;}
.mr-40  {margin-right: 40px;}
.mr-45  {margin-right: 45px;}
.mr-50  {margin-right: 50px;}
.mr-55  {margin-right: 55px;}
.mr-60  {margin-right: 60px;}

.mb-0   {margin-bottom: 0;}
.mb-5   {margin-bottom: 5px;}
.mb-10  {margin-bottom: 10px;}
.mb-15  {margin-bottom: 15px;}
.mb-20  {margin-bottom: 20px;}
.mb-25  {margin-bottom: 25px;}
.mb-30  {margin-bottom: 30px;}
.mb-35  {margin-bottom: 35px;}
.mb-40  {margin-bottom: 40px;}
.mb-45  {margin-bottom: 45px;}
.mb-50  {margin-bottom: 50px;}
.mb-55  {margin-bottom: 55px;}
.mb-60  {margin-bottom: 60px;}