/***** STYLEGUIDE SPECIFIC *****/

html, body{
    // background-image: url(http://basehold.it/i/26); // 24px baseline
    // background-image: url(http://basehold.it/i/26/ff0000); // with Hex colour
    // background-image: url(http://basehold.it/i/24/255/0/0); // with RGB colour
    // background-image: url(http://basehold.it/i/24/255/0/0/0.85); // with RGBA colour
    background: #f6f6f6; //remove this to show the grid
}


.navbar-bright {
 background-color:#111155;
 color:#fff;
}

.affix-top,.affix{
 position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    margin-top:30px;
    width:280px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:103px;
    width:280px;
  }
}

#sidebar li.active {
  border-right: 4px #333 solid;
  background: #eee;
}

#sidebar li a:focus{
    background: none;
}

#sidebar li li.active{
    background: red;
}

section.wrap{
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0,0,0,0.025);
    background: #fff;
    padding: 20px 20px;
    margin: 30px 0;
}

.sub-head {
    padding: 0 0 8px;
}

.bdr-btm{
    border-bottom: 1px solid #ccc;
}
.text-huge{
    font-size: 120px;
}

.text-tiny{
    font-size: 10px;
    margin-bottom: $base-half-line-height;
    line-height: $base-half-line-height;
}

.item-info{
    & ul {
        border-left: 2px solid #ccc;
        padding: 0 0 0 20px;
    }
    & li{
        font-size: 1.2rem;
        list-style: none;
        margin-bottom: 0;
        margin-top: 0;
    }
}

.no-pad {
    & .color-block{
        & ul{
            border-right: none;
        }
        & ul.last-in-row{
            border-right: 1px solid #ccc;
        }
    }
}

.color-block{
    height: 165px;
        @include display(flex);
    & ul{
        @include display(flex);
        @include align-self(flex-end);
        @include flex-flow(row wrap);
        border: 1px solid #ccc;
        border-top: none;
        background: #fff;
        width: 100%;
        min-height: 60px;
        margin: 0;
        padding: 4px;
        list-style: none;
        &.no-border{
            border: none;
        }
    }
    & li{
        @include align-self(center);
        margin: 0;
        padding: 0;
        font-size: 1.2rem;
        line-height: 1.4em;
        text-align: center;
        width: 100%;

        &:first-child{
            font-weight: $font-semi-bold;
        }
    }
}



.color-primary{
    background: $color-primary;
}

.color-primary-darker{
    background: $color-primary-darker;
}

.color-primary-darkest{
    background: $color-primary-darkest;
}

.color-base{
    background: $color-base;
}

.color-gray-dark{
    background: $color-gray-dark;
}

.color-gray-light{
    background: $color-gray-light;
}

.color-white{
    background: $color-white;
    border: 1px solid #ccc;
}


.color-primary-alt{
    background: $color-primary-alt;
}

.color-primary-alt-darkest{
    background: $color-primary-alt-darkest;
}

.color-primary-alt-dark{
    background: $color-primary-alt-dark;
}

.color-primary-alt-light{
    background: $color-primary-alt-light;
}

.color-primary-alt-lightest{
    background: $color-primary-alt-lightest;
}



.color-secondary{
    background: $color-secondary;
}

.color-secondary-darkest{
    background: $color-secondary-darkest;
}

.color-secondary-dark{
    background: $color-secondary-dark;
}

.color-secondary-light{
    background: $color-secondary-light;
}

.color-secondary-lightest{
    background: $color-secondary-lightest;
}



.color-gray-dark{
    background: $color-gray-dark;
}

.color-gray{
    background: $color-gray;
}

.color-gray-light{
    background: $color-gray-light;
}

.color-gray-lighter{
    background: $color-gray-lighter;
}

.color-gray-lightest{
    background: $color-gray-lightest;
}



.color-gray-warm-dark{
    background: $color-gray-warm-dark;
}

.color-gray-warm-light{
    background: $color-gray-warm-light;
}


.color-primary-darkest{
    background: $color-primary-darkest;
}

.color-gray-cool-light{
    background: $color-gray-cool-light;
}



.color-gold{
    background: $color-gold;
}

.color-gold-light{
    background: $color-gold-light;
}


.color-gold-lighter{
    background: $color-gold-lighter;
}

.color-gold-lightest{
    background: $color-gold-lightest;
}

.color-green{
    background: $color-green;
}

.color-green-light{
    background: $color-green-light;
}


.color-green-lighter{
    background: $color-green-lighter;
}

.color-green-lightest{
    background: $color-green-lightest;
}

.color-cool-blue{
    background: $color-cool-blue;
}

.color-cool-blue-light{
    background: $color-cool-blue-light;
}


.color-cool-blue-lighter{
    background: $color-cool-blue-lighter;
}

.color-cool-blue-lightest{
    background: $color-cool-blue-lightest;
}


.color-focus{
    background: $color-focus;
}

.color-visited{
    background: $color-visited;
}




h2.styleguide-only {
    border-bottom: 1px solid #ccc;
    padding: 0 0 10px;
}

.btn {
    &.btn-primary {
        &.styleguide-active {
            background: $color-primary-darker;
        }
        &.styleguide-hover {
            background: $color-primary-darkest;
        }
    }
    &.btn-primary-alt {
        &.styleguide-active {
            background: $color-primary-alt-darkest;
            color: #fff;
        }
        &.styleguide-hover {
            background: $color-primary-alt-dark;
        }
    }
    &.btn-danger {
        &.styleguide-active {
            background: $color-secondary-darkest;
            color: #fff;
        }
        &.styleguide-hover {
            background: $color-secondary-dark;
        }
    }
    &.btn-default {
        &.styleguide-active {
            color: $color-primary-darkest;
        }
        &.styleguide-hover {
            background: $color-primary-alt-lightest;
        }
    }
    &.btn-default-gray {
        &.styleguide-active {
            background: $color-base;
            color: $color-white;
        }
        &.styleguide-hover {
            background: $gray-dark;
            color: $color-white;
        }
    }
    &.btn-default-dark-bg {
        &.styleguide-active {
            @include btnBase($color-gray-lighter, transparent);
            box-shadow: inset 0 0 0 1px $color-gray-lighter;
        }
        &.styleguide-hover {
            @include btnBase($color-white, $color-gray);
            box-shadow: inset 0 0 0 1px $color-gray;
        }
    }
}




.dark-bg{
    background:$gray-dark;
}

.icon-block-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    @include display(flex);
    @include flex-flow(row wrap);
    @include justify-content(flex-start);
    
    & .icon-block {
        padding: 20px;
        width: 31.30%;
        height: 115px;
        border:1px solid #ccc;
        margin: 0 20px 20px 0;
        &:nth-child(3n+3){
            margin: 0 0 20px 0;
        }
            @include media($x-small-screen) {
                width: 100%;
                margin-right: 0;
            }

        & .icon{
        height: 50px;
        margin: 0 0 0 40%;
        font-size: 45px;
        color:$color-primary-alt-dark;
    }
    & p{
        text-align: center;
        font-size: 1.2rem;
    }
    }
}


.icon-example{
    // border: 1px solid #ccc;
    // padding: 20px;
    & .icon{
        height: 50px;
        margin: 0 0 0 40%;
        font-size: 45px;
        color:$color-primary-alt-dark;
    }
    & p{
        text-align: center;
        font-size: 1.2rem;
    }
}


.code-block-toggle-html{
    width: 100%;
    &:before{
        content:'View Code';
    }
    &[aria-expanded="true"]:before{
        content:'Hide Code';
    }
}


pre {
    display: block;
    padding: 0;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.hljs{
    padding: 1.4em;
    font-size: 1.2rem;
}
