---
published: true
permalink: /index.html
layout: styleguide
filename: index.html
title: Style Guide
page: homepage
---

<div class="container">
    <div class="row">
        <!--left-->
        {% include styleguide/styleguideNav.html %}
        <!--right-->
        <div class="col-md-9">
          {% include styleguide/colors.html %}
          {% include styleguide/typography.html %}
          {% include styleguide/buttons.html %}
          {% include styleguide/tables.html %}
          {% include styleguide/forms.html %}
          {% include styleguide/icons.html %}
          {% include styleguide/alerts.html %}
        </div>
    </div>
</div>
<div class='alertMsg'><h3>THE VARIABLE NAME FOR THIS COLOR HAS COPPIED TO YOUR CLIPBOARD</h3></div>