<section class='wrap'>
<h2 id="alerts">Alerts</h2>
<p>Alerts keep users informed of important and sometimes time-sensitive changes.</p>
  <div class="row">

    <div class="col-md-12">

  <div class="row">
    <div class="col-md-8">
      <div class="alert alert-success clearfix" role="alert">
        <span class="usa-da-icon usa-da-icon-check-circle" aria-hidden="true"></span>
        <h3>Success Alert</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="alert alert-info clearfix" role="alert">
        <span class="usa-da-icon usa-da-icon-info-circle" aria-hidden="true"></span>
        <h3>Info Alert</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</p>
      </div>
    </div>
  </div>
    
  <div class="row">
    <div class="col-md-8">
      <div class="alert alert-warning clearfix" role="alert">
        <span class="usa-da-icon usa-da-icon-exclamation-triangle" aria-hidden="true"></span>
        <h3>Warning Alert</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="alert alert-danger clearfix" role="alert">
        <span class="usa-da-icon usa-da-icon-exclamation-circle" aria-hidden="true"></span>
        <h3>Danger Alert</h3>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</p>
      </div>
    </div>
</div>


<div class="row mt-30 mb-10">
    <div class="col-md-12">
        <a class="usa-da-button btn-default code-block-toggle-html" role="button" data-toggle="collapse" href="#alertsHtml" aria-expanded="false" aria-controls="alertsHtml">
            <!-- View Code -->
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="collapse" id="alertsHtml">
            {% include styleguide/alertsCodeBlock.html %}
        </div>
    </div>
</div>


</section>