<pre>
<code>
&lt;!-- ALERT SUCCESS --&gt;
&lt;div class=&quot;alert alert-success clearfix&quot; role=&quot;alert&quot;&gt;
    &lt;span class=&quot;usa-da-icon usa-da-icon-check-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
    &lt;h3&gt;Success Alert&lt;/h3&gt;
    &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes&lt;/p&gt;
&lt;/div&gt;


&lt;!-- ALERT INFO --&gt;
&lt;div class=&quot;alert alert-info clearfix&quot; role=&quot;alert&quot;&gt;
    &lt;span class=&quot;usa-da-icon usa-da-icon-info-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
    &lt;h3&gt;Info Alert&lt;/h3&gt;
    &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes&lt;/p&gt;
&lt;/div&gt;


&lt;!-- ALERT WARNING --&gt;
&lt;div class=&quot;alert alert-warning clearfix&quot; role=&quot;alert&quot;&gt;
    &lt;span class=&quot;usa-da-icon usa-da-icon-exclamation-triangle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
    &lt;h3&gt;Warning Alert&lt;/h3&gt;
    &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes&lt;/p&gt;
&lt;/div&gt;


&lt;!-- ALERT DANGER --&gt;
&lt;div class=&quot;alert alert-danger clearfix&quot; role=&quot;alert&quot;&gt;
    &lt;span class=&quot;usa-da-icon usa-da-icon-exclamation-circle&quot; aria-hidden=&quot;true&quot;&gt;&lt;/span&gt;
    &lt;h3&gt;Danger Alert&lt;/h3&gt;
    &lt;p&gt;Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes&lt;/p&gt;
&lt;/div&gt;
</pre>
</code>