<pre>
<code>
&lt;!-- PRIMARY BUTTON --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Default&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Active&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot;&gt;Hover&lt;/button&gt;

&lt;!-- PRIMARY ALT BUTTON --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-primary-alt&quot;&gt;Default&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-primary-alt&quot;&gt;Active&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-primary-alt&quot;&gt;Hover&lt;/button&gt;

&lt;!-- DANGER BUTTONS --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-danger&quot;&gt;Default&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-danger&quot;&gt;Active&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-danger&quot;&gt;Hover&lt;/button&gt;

&lt;!-- GRAY BUTTON --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-default-gray&quot;&gt;Default&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-default-gray&quot;&gt;Active&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-default-gray&quot;&gt;Hover&lt;/button&gt;

&lt;!-- TRANSPARENT BUTTON --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;Default&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;Active&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-default&quot;&gt;Hover&lt;/button&gt;

&lt;!-- TRANSPARENT BUTTON ON DARK BACKGROUND --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-default-dark-bg&quot;&gt;Default&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-default-dark-bg&quot;&gt;Active&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-default-dark-bg&quot;&gt;Hover&lt;/button&gt;

&lt;!-- DISABLED BUTTON --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-primary&quot; disabled=&quot;disabled&quot;&gt;Default&lt;/button&gt;

&lt;!-- BIG BUTTONS --&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-primary btn-lg&quot;&gt;Default&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;btn btn-default btn-lg&quot;&gt;Default&lt;/button&gt;
</code>
</pre>