<pre>
<code>
&lt;!-- PRIMARY BUTTON --&gt;
&lt;button type=&quot;button&quot; class=&quot;usa-da-button btn-primary&quot;&gt;Default&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;usa-da-button btn-primary styleguide-active&quot;&gt;Active&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;usa-da-button btn-primary styleguide-hover&quot;&gt;Hover&lt;/button&gt;

&lt;!-- PRIMARY ALT BUTTON --&gt;
&lt;button type=&quot;button&quot; class=&quot;usa-da-button btn-primary-alt&quot;&gt;Default&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;usa-da-button btn-primary-alt styleguide-active&quot;&gt;Active&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;usa-da-button btn-primary-alt styleguide-hover&quot;&gt;Hover&lt;/button&gt;

&lt;!-- DANGER BUTTONS --&gt;
&lt;button type=&quot;button&quot; class=&quot;usa-da-button btn-danger&quot;&gt;Default&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;usa-da-button btn-danger styleguide-active&quot;&gt;Active&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;usa-da-button btn-danger styleguide-hover&quot;&gt;Hover&lt;/button&gt;

&lt;!-- DANGER OUTLINED BUTTONS --&gt;
&lt;button type=&quot;button&quot; class=&quot;usa-da-button btn-danger-outline&quot;&gt;Default&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;usa-da-button btn-danger-outline styleguide-active&quot;&gt;Active&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;usa-da-button btn-danger-outline styleguide-hover&quot;&gt;Hover&lt;/button&gt;

&lt;!-- GRAY BUTTON --&gt;
&lt;button type=&quot;button&quot; class=&quot;usa-da-button btn-default-gray&quot;&gt;Default&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;usa-da-button btn-default-gray styleguide-active&quot;&gt;Active&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;usa-da-button btn-default-gray styleguide-hover&quot;&gt;Hover&lt;/button&gt;

&lt;!-- TRANSPARENT BUTTON --&gt;
&lt;button type=&quot;button&quot; class=&quot;usa-da-button btn-default&quot;&gt;Default&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;usa-da-button btn-default styleguide-active&quot;&gt;Active&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;usa-da-button btn-default styleguide-hover&quot;&gt;Hover&lt;/button&gt;

&lt;!-- TRANSPARENT BUTTON ON DARK BACKGROUND --&gt;
&lt;button type=&quot;button&quot; class=&quot;usa-da-button btn-default-dark-bg&quot;&gt;Default&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;usa-da-button btn-default-dark-bg styleguide-active&quot;&gt;Active&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;usa-da-button btn-default-dark-bg styleguide-hover&quot;&gt;Hover&lt;/button&gt;

&lt;!-- DISABLED BUTTON --&gt;
&lt;button type=&quot;button&quot; class=&quot;usa-da-button btn-primary&quot; disabled=&quot;disabled&quot;&gt;Default&lt;/button&gt;

&lt;!-- BIG BUTTONS --&gt;
&lt;button type=&quot;button&quot; class=&quot;usa-da-button btn-primary btn-lg&quot;&gt;Default&lt;/button&gt;
&lt;button type=&quot;button&quot; class=&quot;usa-da-button btn-default btn-lg&quot;&gt;Default&lt;/button&gt;
</code>
</pre>