<section class="wrap">
    <h2 id="colors">Colors</h2>
    <div class="row mb-40">
        <div class="col-md-12 mt-20">
            <h5 class='sub-head bdr-btm'>Primary UI colors</h5>
            <p>This palette’s primary colors are blue, gray, and white. Blue is commonly associated with trust, confidence, and sincerity; it is also used to represent calmness and responsibility.</p>
            <div class="row">
                <div class="col-md-3">
                    <div class="color-block color-primary">
                        <ul>
                            <li id='c1'>$color-primary</li>
                            <li>#0071bc</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="color-block color-primary-darker">
                        <ul>
                            <li id="c2">$color-primary-darker</li>
                            <li>#205493</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="color-block color-primary-darkest">
                        <ul>
                            <li id="c3">$color-primary-darkest</li>
                            <li>#112e51</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="color-block color-base">
                        <ul>
                            <li id="c4">$color-base</li>
                            <li>#212121</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class='row mt-30'>
                <div class="col-md-3">
                    <div class="color-block color-gray-dark">
                        <ul>
                            <li id="c5">$gray-dark</li>
                            <li>#323a45</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="color-block color-gray-light">
                        <ul>
                            <li id="c6">$color-gray-light</li>
                            <li>#aeb0d5</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="color-block color-white">
                        <ul class="no-border">
                            <li id="c7">$color-white</li>
                            <li>#ffffff</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-60">
            <h5 class='sub-head bdr-btm'>Secondary UI colors</h5>
            <p>These are accent colors to provide additional lightness and style to pages looking for a more modern flair. These colors should be used to highlight important features on a page, such as buttons, or for visual style elements, such as illustrations. They should be used sparingly and never draw the eye to more than one piece of information at a time.</p>
            <div class="row">
                <div class="col-md-3">
                    <div class="color-block color-primary-alt">
                        <ul>
                            <li id="c8">$color-primary-alt</li>
                            <li>#02bfe7</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="col-md-3 no-pad">
                        <div class="color-block color-primary-alt-darkest">
                            <ul>
                                <li id="c9">$color-primary-alt-darkest</li>
                                <li>#046b99</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 no-pad">
                        <div class="color-block color-primary-alt-dark">
                            <ul>
                                <li id="c10">$color-primary-alt-dark</li>
                                <li>#00a6d2</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 no-pad">
                        <div class="color-block color-primary-alt-light">
                            <ul>
                                <li id="c11">$color-primary-alt-light</li>
                                <li>#9bdaf1</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 no-pad">
                        <div class="color-block color-primary-alt-lightest">
                            <ul class='last-in-row'>
                                <li id="c12">$color-primary-alt-lightest</li>
                                <li>#e1f3f8</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-30">
                <div class="col-md-3">
                    <div class="color-block color-secondary">
                        <ul>
                            <li id="c13">$color-secondary</li>
                            <li>#e31c3d</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="col-md-3 no-pad">
                        <div class="color-block color-secondary-darkest">
                            <ul>
                                <li id="c14">$color-secondary-darkest</li>
                                <li>#981b1e</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 no-pad">
                        <div class="color-block color-secondary-dark">
                            <ul>
                                <li id="c15">$color-secondary-dark</li>
                                <li>#cd2026</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 no-pad">
                        <div class="color-block color-secondary-light">
                            <ul>
                                <li id="c16">$color-secondary-light</li>
                                <li>#e59393</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 no-pad">
                        <div class="color-block color-secondary-lightest">
                            <ul class='last-in-row'>
                                <li id="c17">$color-secondary-lightest</li>
                                <li>#f9dede</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="col-md-12 mt-60">
            <h5 class='sub-head bdr-btm'>Background UI colors</h5>
            <p>These colors are used largely for background blocks and large content areas. When alternating between tones, be sure to use enough contrast between adjacent colors.</p>
            <div class="row">
                <div class="col-md-3">
                    <div class="color-block color-gray-dark">
                        <ul>
                            <li id="c18">$color-gray-dark</li>
                            <li>#323a45</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="col-md-3 no-pad">
                        <div class="color-block color-gray">
                            <ul>
                                <li id="c19">$color-gray</li>
                                <li>#5b616b</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 no-pad">
                        <div class="color-block color-gray-light">
                            <ul>
                                <li id="c20">$color-gray-light</li>
                                <li>#aeb0b5</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 no-pad">
                        <div class="color-block color-gray-lighter">
                            <ul>
                                <li id="c21">$color-gray-lighter</li>
                                <li>#d6d7d9</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 no-pad">
                        <div class="color-block color-gray-lightest">
                            <ul class='last-in-row'>
                                <li id="c22">$color-gray-lightest</li>
                                <li>#f1f1f1</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-30">
                <div class="col-md-3">
                    <div class="color-block color-gray-warm-dark">
                        <ul>
                            <li id="c23">$color-gray-warm-dark</li>
                            <li>#494440</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="col-md-3 no-pad">
                        <div class="color-block color-gray-warm-light">
                            <ul class='last-in-row'>
                                <li id="c24">$color-gray-warm-light</li>
                                <li>#e4e2e0</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-30">
                <div class="col-md-3">
                    <div class="color-block color-primary-darkest">
                        <ul>
                            <li id="c25">$color-primary-darkest</li>
                            <li>#112e51</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="col-md-3 no-pad">
                        <div class="color-block color-gray-cool-light">
                            <ul class='last-in-row'>
                                <li id="c26">$color-gray-cool-light</li>
                                <li>#dce4ef</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>




<div class="col-md-12 mt-60">
            <h5 class='sub-head bdr-btm'>Tertiary UI colors</h5>
            <p>These colors are used primarily for content-specific needs, such as alerts and illustrations. They should never overpower the primary colors.</p>
            <div class="row">
                <div class="col-md-3">
                    <div class="color-block color-gold">
                        <ul>
                            <li id="c27">$color-gold</li>
                            <li>#fdb81e</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="col-md-3 no-pad">
                        <div class="color-block color-gold-light">
                            <ul>
                                <li id="c28">$color-gold-light</li>
                                <li>#f9c642</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 no-pad">
                        <div class="color-block color-gold-lighter">
                            <ul>
                                <li id="c29">$color-gold-lighter</li>
                                <li>#fad980</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 no-pad">
                        <div class="color-block color-gold-lightest">
                            <ul class='last-in-row'>
                                <li id="c30">$color-gold-lightest</li>
                                <li>#fff1d2</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-30">
                <div class="col-md-3">
                    <div class="color-block color-green">
                        <ul>
                            <li id="c31">$color-green</li>
                            <li>#2e8540</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="col-md-3 no-pad">
                        <div class="color-block color-green-light">
                            <ul>
                                <li id="c32">$color-green-light</li>
                                <li>#4aa564</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 no-pad">
                        <div class="color-block color-green-lighter">
                            <ul>
                                <li id="c33">$color-green-lighter</li>
                                <li>#94bfa2</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 no-pad">
                        <div class="color-block color-green-lightest">
                            <ul class='last-in-row'>
                                <li id="c34">$color-green-lightest</li>
                                <li>#e7f4e4</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-30">
                <div class="col-md-3">
                    <div class="color-block color-cool-blue">
                        <ul>
                            <li id="c35">$color-cool-blue</li>
                            <li>#205493</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="col-md-3 no-pad">
                        <div class="color-block color-cool-blue-light">
                            <ul>
                                <li id="c36">$color-cool-blue-light</li>
                                <li>#4773aa</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 no-pad">
                        <div class="color-block color-cool-blue-lighter">
                            <ul>
                                <li id="c37">$color-cool-blue-lighter</li>
                                <li>#8ba6ca</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 no-pad">
                        <div class="color-block color-cool-blue-lightest">
                            <ul class='last-in-row'>
                                <li id="c38">$ccolor-cool-blue-lightest</li>
                                <li>#dce4ef</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        something should go here
<div id="p1"></div>
        <div class="col-md-12 mt-60">
            <h5 class='sub-head bdr-btm'>Special UI colors</h5>
            <div class="row">
                <div class="col-md-3">
                    <div class="color-block color-focus">
                        <ul>
                            <li id="c39">$color-focus</li>
                            <li>#3e94cf</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row mt-30">
                <div class="col-md-3">
                    <div class="color-block color-visited">
                        <ul>
                            <li id="c40">$color-visited</li>
                            <li>#4c2c92</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>