<div class="col-md-3" id="leftCol">
    <div class="row">
        <ul class="nav nav-stacked" id="sidebar">
            <li><a href="#colors">Colors</a></li>
            <li><a href="#typography">Typography</a>
                <!--             <ul>
                <li><a href="#sec0a">item a</a></li>
                <li><a href="#sec0b">item b</a></li>
                <li><a href="#sec0c">item c</a></li>
                <li><a href="#sec0d">item d</a></li>
            </ul> -->
            </li>
            <li><a href="#buttons">Buttons</a></li>
            <li><a href="#tables">Tables</a></li>
            <li><a href="#forms">Forms</a></li>
            <li><a href="#icons">Iconography</a></li>
            <li><a href="#alerts">Alerts</a></li>
        </ul>
    </div>
</div>