<section class="wrap">
    <h2 id="typography">Typography</h2>
    <p>U.S. government websites have common typographic needs: clear and consistent headings, highly legible body paragraphs, clear labels, and easy-to-use input fields.</p>
    <div class="row mb-40">
        <div class="col-md-12 mt-20">
            <h5 class='sub-head bdr-btm'>Font</h5>
        </div>
        <div class="col-md-8">
            <p><strong>Source Sans Pro</strong></p>
            <p>Source Sans Pro is an open-source sans serif typeface created for legibility in UI design. With a variety of weights that read easily at all sizes, Source Sans Pro provides clear headers as well as highly-readable body text.</p>
            <p>Inspired by twentieth-century American gothic typeface design, its slender but open letters offer a clean and friendly simplicity. Advanced hinting allows Source Sans Pro to render well on Windows systems which run Cleartype, and across browsers and devices. Moreover, it supports a variety of languages and alphabets, including Western and European language, Vietnamese, pinyin Romanization of Chinese, and Navajo.</p>
        </div>
        <div class="col-md-4 item-info">
            <span class="text-huge">Aa</span>
            <p class="text-tiny">A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
            <p class="text-tiny">a b c d e f g h i j k l m n o p q r s t u v w x y z</p>
            <p class="text-tiny">0 1 2 3 4 5 6 7 8 9</p>
        </div>
    </div>
    <div class="row mb-40">
        <div class="col-md-12">
            <h5 class='sub-head bdr-btm'>Weights</h5>
        </div>
        <div class="col-md-8">
            <p style="font-weight: 700">700 - Bold: The quick brown fox jumps over the lazy dog</p>
            <p style="font-weight: 600">600 - Semibold: The quick brown fox jumps over the lazy dog</p>
            <p style="font-weight: 400">400 - Regular: The quick brown fox jumps over the lazy dog</p>
            <p style="font-weight: 200">200 - Light: The quick brown fox jumps over the lazy dog</p>
        </div>
        <div class="col-md-4 item-info">
        </div>
    </div>
    <div class="row mb-40">
        <div class="col-md-12">
            <h5 class='sub-head bdr-btm'>Styles</h5>
        </div>
        <div class="col-md-8">
            <h1>Heading 1</h1>
        </div>
        <div class="col-md-4 item-info">
            <ul>
                <li>font-family: ‘Source Sans Pro’</li>
                <li>font-weight: 200</li>
                <li>font-size: 59px</li>
                <li>line-height: 1em/59px</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2>Heading 2</h2>
        </div>
        <div class="col-md-4 item-info">
            <ul>
                <li>font-family: ‘Source Sans Pro’</li>
                <li>font-weight: 200</li>
                <li>font-size: 47px</li>
                <li>line-height: 1.11em/52.7px</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h3>Heading 3</h3>
        </div>
        <div class="col-md-4 item-info">
            <ul>
                <li>font-family: ‘Source Sans Pro’</li>
                <li>font-weight: 200</li>
                <li>font-size: 38px</li>
                <li>line-height: 1.36em/51.68px</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h4>Heading 4</h4>
        </div>
        <div class="col-md-4 item-info">
            <ul>
                <li>font-family: ‘Source Sans Pro’</li>
                <li>font-weight: 200</li>
                <li>font-size: 30px</li>
                <li>line-height: 1em/30px</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h5>Heading 5</h5>
        </div>
        <div class="col-md-4 item-info">
            <ul>
                <li>font-family: ‘Source Sans Pro’</li>
                <li>font-weight: 700</li>
                <li>font-size: 24px</li>
                <li>line-height: 1.3em/31.2px</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <h6>Heading 6</h6>
        </div>
        <div class="col-md-4 item-info">
            <ul>
                <li>font-family: ‘Source Sans Pro’</li>
                <li>font-weight: 700</li>
                <li>font-size: 19px</li>
                <li>line-height: 1.4em/26.6px</li>
            </ul>
        </div>
    </div>



<div class="row">
    <div class="col-md-12">
        <a class="usa-da-button btn-default code-block-toggle-html" role="button" data-toggle="collapse" href="#typographyHtml" aria-expanded="false" aria-controls="typographyHtml">
            <!-- View Code -->
        </a>
    </div>
</div>


    <div class="collapse" id="typographyHtml">
        <pre>
  <code>
&lt;h1&gt;This is a h1&lt;/h1&gt;<br />
&lt;h2&gt;This is a h2&lt;/h2&gt;<br />
&lt;h3&gt;This is a h3&lt;/h3&gt;<br />
&lt;h4&gt;This is a h4&lt;/h4&gt;<br />
&lt;h5&gt;This is a h5&lt;/h5&gt;<br />
&lt;h6&gt;This is a h6&lt;/h6&gt;
  </code>
</pre>
    </div>

</section>