.component-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: $global-pad;
    margin: $global-mrg;
    border: 1px solid red;
}

@import 'tooltipPage';