.component-page,
.home__page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: $global-pad;
    margin: $global-mrg;
    margin-left: $component-library-nav-width;
}

@import 'tooltipPage';