.tooltip__page {
    .demo {
        .tooltip-wrapper {
            width: 25%;
            border: 1px solid red;
        }
    }
    .demo:nth-of-type(1) {
        .tooltip-wrapper {
            margin-right: auto;
        }
    }
    .demo:nth-of-type(2) {
        .tooltip-wrapper {
            margin-left: 25%;
        }
    }
    .demo:nth-of-type(3) {
        .tooltip-wrapper {
            margin: auto;
        }
    }
    .demo:nth-of-type(4) {
        .tooltip-wrapper {
            margin-left: 50%;
        }
    }
    .demo:nth-of-type(5) {
        .tooltip-wrapper {
            margin-left: auto;
        }
    }
    .tt__container {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
        justify-content: center;
        background: $color-gray-lightest;
    }
}

