<pre>
<code>
&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-sm-12 col-md-8&quot;&gt;
        &lt;div class=&quot;form-group&quot;&gt;
            &lt;label for=&quot;selectBlock1&quot; class=&quot;&quot;&gt;Pick Multi&lt;/label&gt;
            &lt;select id=&quot;selectBlock1&quot; multiple class=&quot;form-control&quot;&gt;
                &lt;option&gt;1&lt;/option&gt;
                &lt;option&gt;2&lt;/option&gt;
                &lt;option&gt;3&lt;/option&gt;
                &lt;option&gt;4&lt;/option&gt;
                &lt;option&gt;5&lt;/option&gt;
            &lt;/select&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>