<pre>
<code>
&lt;div class=&quot;row&quot;&gt;
    &lt;div class=&quot;col-sm-12 col-md-3&quot;&gt;
        &lt;div class=&quot;form-group fly-group&quot;&gt;
            &lt;label for=&quot;name&quot; class=&quot;fly-label classic&quot;&gt;Name&lt;/label&gt;
            &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;exampleInputName1&quot; placeholder=&quot;Name&quot;&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-md-3&quot;&gt;
        &lt;div class=&quot;form-group fly-group&quot;&gt;
            &lt;label for=&quot;exampleInputEmail3&quot; class=&quot;fly-label classic&quot;&gt;Email Address&lt;/label&gt;
            &lt;input type=&quot;email&quot; class=&quot;form-control&quot; id=&quot;exampleInputEmail3&quot; placeholder=&quot;Email&quot;&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-md-3&quot;&gt;
        &lt;div class=&quot;form-group&quot;&gt;
            &lt;button type=&quot;submit&quot; class=&quot;btn btn-primary btn-lg&quot;&gt;Sign in&lt;/button&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>