<pre>
<code>
&lt;table class='table'&gt;
  &lt;thead&gt;
    &lt;tr&gt;
      &lt;th scope=&quot;col&quot;&gt;Column 1&lt;/th&gt;
      &lt;th scope=&quot;col&quot;&gt;Column 2&lt;/th&gt;
      &lt;th scope=&quot;col&quot;&gt;Column 3&lt;/th&gt;
    &lt;/tr&gt;
  &lt;/thead&gt;
    &lt;tr&gt;
      &lt;td&gt;Natoque penatibus et magnis dis parturient montes&lt;/td&gt;
      &lt;td&gt;mollis ornare&lt;/td&gt;
      &lt;td&gt;&lt;a href=&quot;#&quot;&gt;Nullam quis risus&lt;/a&gt;&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Natoque penatibus et magnis dis parturient montes&lt;/td&gt;
      &lt;td&gt;mollis ornare&lt;/td&gt;
      &lt;td&gt;&lt;a href=&quot;#&quot;&gt;Nullam quis risus&lt;/a&gt;&lt;/td&gt;
    &lt;/tr&gt;
    &lt;tr&gt;
      &lt;td&gt;Natoque penatibus et magnis dis parturient montes&lt;/td&gt;
      &lt;td&gt;mollis ornare&lt;/td&gt;
      &lt;td&gt;&lt;a href=&quot;#&quot;&gt;Nullam quis risus&lt;/a&gt;&lt;/td&gt;
    &lt;/tr&gt;
  &lt;/table&gt;
</code>
</pre>